body {
    background-color: #ffffff; 
    color: #121212; 
    font-family: Georgia, serif;
}


nav {
    background-color: #c6c6c6; 
    padding: 10px;
    margin-bottom: 30px;
}


nav a { color: #ffffff;}

nav a:hover {background-color: #ffc3ff;}


.jamie, .nina, .michelle { 
    display: flex;  
    align-items: center;  
    justify-content: flex-start; 
    background-color: #dbf4ff;  
    padding: 20px;  
    border-radius: 15px;  
    max-width: 100%;  
    margin: 20px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.page3 { 

    float: center;  
    margin: 0 0 10px 15px;  
    max-width: 250px;  
    height: auto;  
    border-radius: 8px;  
    padding: 20px;  
    } 

.jamie img, .nina img, .michelle img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    height: auto;
}


h1, h2, h3, h4 {
    color: #0047AB;
}


footer {
    background-color: #0047AB;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    nav a {
        width: 100%;
        display: block;  /* Changed to block for proper stacking */
        margin-top: 5px; 
        margin-bottom: 5px;
    }
    nav a span {
        display: none;  /* Removing the vertical separator */
    }
}
