
body {
    background-color: #6eafd2; 
    color: #333333; 
    font-family: Arial, sans-serif;
  
}


h1, h2, h3, h4 {color: #0047AB;}


nav {
    background-color: #518fb9; 
    padding: 10px;
    margin-bottom: 30px;
}

nav a { color: #eeeae7; 
    text-decoration: none;
}

nav a:hover {background-color: #b951a8;}










