body {
    background-color: #ffffff; 
    color: #121212; 
    font-family: Georgia, serif;
}


nav {
    background-color: #c6c6c6; 
    padding: 10px;
    margin-bottom: 30px;
}


nav a { color: #ffffff;}

nav a:hover {background-color: #ffc3ff;}

/* Flexbox layout for stories */
.jamie { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.nina { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.michelle { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.page3 {
    float: center; 
    margin: 0 0 10px 15px; 
    max-width: 250px; 
    height: auto; 
    border-radius: 8px; 
    flex-wrap: wrap;  
    justify-content: space-between;
    padding: 20px; 
}

h1, h2, h3, h4 {
    color: #0047AB;
}





@media (max-width: 600px) {
    h1 {
        font-size: 20px; /* Smaller heading */
    }

    .jamie p, .nina p, .michelle p {
        font-size: 14px; /* Adjust font size */
    }

    nav {
        font-size: 14px;
    }

    nav a {
        padding: 0 5px; /* Reduce space between links */
    }
}



























