body {
    background-color: #ffffff; 
    color: #121212; 
    font-family: Georgia, serif;
}


nav {
    background-color: #c6c6c6; 
    padding: 10px;
    margin-bottom: 30px;
}

nav a { color: #ffffff;}

nav a:hover {background-color: #ffc3ff;}

.jamie { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.nina { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.michelle { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.page3 {
    float: center; 
    margin: 0 0 10px 15px; 
    max-width: 250px; 
    height: auto; 
    border-radius: 8px; 
    flex-wrap: wrap;  
    justify-content: space-between;
    padding: 20px; 
}

h1, h2, h3, h4 {
    color: #0047AB;
}


@media screen and (max-width: 768px) {
    nav a {
        width: 100%;
        display: block;
        margin-top: 5px; 
        margin-bottom: 5px;
    }
    nav a span {
        display: none; 
    }
}

.jamie, .nina, .michelle { 
    display: block;  
    background-color: #dbf4ff; 
    padding: 20px; 
    border-radius: 15px;  
    max-width: 80%; 
    margin: 20px auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: left;  
}

.page3 {
    margin: 0 auto 10px; 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    display: block;
    padding: 10px; 
}

.jamie p, .nina p, .michelle p {
    max-width: 100%; 
    margin: 0 auto;
    
    font-size: 16px;  
}
